@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&display=swap');

html {
overflow-x:hidden;
scroll-behavior: smooth;
scroll-padding-top: 8rem;
}

*{    
font-family: 'Caveat';
 font-family: 'Lobster';
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 text-transform: capitalize;
 transition: 0.2s ease;
}

body{
 background-color: var(--main-color);
}

section{
padding:35px 7%;

}

:root{
--main-color:#dadcdd;
--black-color:#121327;
--border--:0.1rem solid #0c4063;
}

.logo img{
    height: 7rem;
}



.header{
    background-color:#121327;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0  7%;
    margin:2rem 7%;
    border-radius:30rem;
    position:sticky;
    top: 0;

}

.header .navbar a{
margin: 0  10px ;
font-size: 16px;
color: var(--main-color);
border-bottom: 1px
}

.home{
    display: flex;
    align-items: center;
    min-height:100vh;
    background: url(../styles/images/arkaplan.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -11.5rem;

}

.home.content{
    max-width: 60rem;
}

.home .content h3{
    font-size:6rem;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight:300;
    line-height:1.8;
    padding: 1rem 0;
}


.menu .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem, 1 fr));
}

.menu .box-container .box img{
width:25%;
object-fit:cover;
}

.menu .box-container .box{
    padding: 3rem;
    background-color:#6b6c80;
}

.box-container .p{
    color:#fff;
}

